<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microdesk.Analytics.Properties.AnalyticPermissionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microdesk.Analytics.Properties.AnalyticPermissionSettings>
            <setting name="AllowedToRecord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HaveAsked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailEntered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>NoneYet</value>
            </setting>
        </Microdesk.Analytics.Properties.AnalyticPermissionSettings>
        <Microdesk.Analytics.Properties.Settings1>
            <setting name="AllowedToRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HaveAsked" serializeAs="String">
                <value>False</value>
            </setting>
        </Microdesk.Analytics.Properties.Settings1>
    </userSettings>
</configuration>