<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microdesk.Licensing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microdesk.Licensing.Properties.Settings>
            <setting name="WantValidCodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DayNextUpdate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HashedCodes" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value>No Name Yet</value>
            </setting>
        </Microdesk.Licensing.Properties.Settings>
    </userSettings>
</configuration>